.service-title {
  margin: 0;
}
.service-host-name {
  margin: 12px 0 0;
  font-size: 16px;
}
.service-icon-area {
  color: $gray-color;
  margin: 8px 0 20px;
  font-size: 14px;
}
.service-content {
  font-weight: 300;
  margin-bottom: 20px;
}
.service-each-info {
  font-weight: 300;
  margin: 8px 0;
}
.service-notice {
  color: $light-gray-color;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 30px;
}
